.button {
  padding: 0px 10px;
  background-color: #00adb5;
}
.button:hover {
  background-color: white;
  color: black;
  border: 2px solid #00adb5;
}

.img {
  width: 70px;
}

.title {
  font-size: large;
}

.price {
  padding-left: 100px;
}
.quantity {
  padding-left: 100px;
}