* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.albumButton {
  display: block;
  border: 1px solid #56ccf2;
  padding: 15px 30px;
  font-size: 23px;
  font-weight: 200;
  margin:  auto;
  background: inherit;
  cursor: pointer;
  color: white;
}
.header {
  background-color: blueviolet;
  padding-bottom: 50px;
  margin-top: 0px;
}
.header h1{
    margin-bottom: 0px;
}
.playButton {
  cursor: pointer;
  display: block;
  border: 2px solid #56ccf2;
  border-radius: 50%;
  padding: 20px 30px;
  font-size: 30px;
  font-weight: 200;
  margin: 20px auto 0px;
  background: inherit;
  color: #56ccf2;
}
.containers {
  max-width: 900px;
  margin: 0 auto;   
  padding: 20px 30px;
}
.tourTitle {
  text-align: center;
  padding: 20px;
  font-size: 30px;
}
