.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  background-color: #080808;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30%;

}

.music{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 20px;
}
.h1 {
  padding: 2%;
  width: 100%;
  padding: 40px;
  text-align: center;
  font-size: 100px;
  background-color: blueviolet;
}
.button {
  
  padding: 0 10%;
  align-items: flex-end;
  padding: 0 10%;
}