.title{
    text-align: center;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.form{
    text-align: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 7px grey;
    margin: 0px auto;
    padding: 40px;
    width: 600px;
}
.form label{
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin: 0px 10px 10px;
    font-weight: bold;
}
.form input{
    border-color: rgba(0,0,0,.2);
    border-radius: 3px;
    font-size: 20px;
    margin-bottom: 1em;
    padding: 2px;
    width: 96%;
}
.btn{
    background-color: #393E46;
    color: #EEEEEE;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    padding: 5px 40px;
    width: 30%;
}
.btn:hover{
    background-color: #00ADB5;
}
